<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
</head>
<body>
    {% if movies_list %}
    <h1>Movies Information</h1>
    <table border="2" algin="center">
        <thead>
            <th>Released Date</th>
            <th>Movies Name</th>
            <th>Hero Name</th>
            <th>Heroine Name</th>
            <th>Ratings</th>
        </thead>
        {% for movie in movies_list%}
        <tr>
            <td>{{movie.rdate}}</td>
            <td>{{movie.moviename}}</td>
            <td>{{movie.hero}}</td>
            <td>{{movie.heroine}}</td>
            <td>{{movie.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Movies Found..</h1>
    {% endif %}
</body>
</html>